:root {
	--basic-red: #ee3643;
	--basic-green: #63a63e;
	--basic-grey: #3d546f;
	--basic-greylight: #c5c5c5;
	--basic-background: #f1f5f7;
	--white: #ffffff;
	--black: #000000;
	--special-yellow: #ffbf47;
	--special-blue: #3bbce3;
	--special-lilac: #dc91d8;
	--special-greenlight: #8ed78f;
	--special-yellowlight: #ffd180;
	--success: #5fbb2d;
	--warning: #ffbf47;
	--error: #ba2732;
	--light-grey: #e5e5e5;
	--light-yellow: #f7f3ec;
	--neutral-grey: #f3f7f8;
	--navy-blue: #32425c;
	--yellow: #ffc047;
	--azure: #f2f6f8;
	--grey: #a9a9a9;
	--dark-grey: rgba(0, 0, 0, 0.25);
	--dark-red: #ca2c37;
	--dark-blue: #293449;
	--pale-yellow: #f9f5f0;
	--grey-opacity: rgba(169, 169, 169, 0.3);
	--white-active: rgba(255, 255, 255, 0.5);
	--white-opacity: rgba(255, 255, 255, 0.3);
	--red-shadow-logo: rgba(0, 0, 0, 0.24);
	--basic-greylight-opacity: rgba(197, 197, 197, 0.3);
	--font-color: #000000;
	--greyscale: #d7dcde;
}

*, *::before, ::after {
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
	height: 100%;
}

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	margin: 0;
	padding: 0;
	min-width: 960px;
	min-height: 100%;
	color: var(--font-color);
	font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

.page-header {
	display: grid;
	margin-bottom: 59px;
}

.page-header-top {
	background-color: var(--dark-blue);
}

.page-header-top-container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.page-header-logo {
	display: inline-block;
	text-align: center;
	width: 220px;
	height: 47px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo-image {
	margin: 12px 0 0 0;
}

.search-input {
	background-color: var(--dark-blue);
	font-family: "Cuprum", "Arial", sans-serif;
}


.search-input::placeholder {
	color: var(--white);
	font-size: 18px; 
	opacity: 1;
} 

.search-input:focus {
	background-color: var(--white);
}

.search-input:focus::placeholder {
	color: var(--black);
}

.top-menu-btn {
	color: var(--white);
	font-size: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	line-height: 24px;
}

.top-menu:active {
	color: var(--white-active);
}

.order-registration {
	background-color: var(--basic-green);
}

.page-header-info {
	background-color: var(--neutral-grey);
}

.page-header-info-container {
	display: grid;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.page-header-text {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	font-family: "Cuprum", "Arial", sans-serif;
	line-height: 23px;
}

.page-header-phone {
	color: var(--basic-red);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	border: 3px solid var(--white);
}

.page-header-address {
	color: var(--navy-blue);
	font-size: 14px;
	font-style: normal;
}

.main-navigation {
	background-color: var(--navy-blue);
	box-shadow: inset 0 -5px 0 0 var(--dark-blue);
}

.main-navigation-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.main-navigation-link {
	color: var(--white);
	font-size: 18px;
}

.main-navigation-link:hover {
	background-color: var(--dark-blue);
}

.main-navigation-link:active {
	opacity: 0.5;
}

.authorization-btn {
	color: var(--black);
	background-color: var(--white);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
}

.login:hover {
	color: var(--basic-red);
}

.sign-up:hover {
	color: var(--basic-red);
}

.authorization-btn:active {
	color: var(--basic-greylight);
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	width: 960px;
	margin: 0 auto 59px;
	padding: 0 10px;
}

.features-item {
	height: 123px;
	color: var(--white);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.features-btn {
	background-color: var(--white-opacity);
}

.features-btn:hover {
	background-color: var(--basic-greylight-opacity);
}

.features-btn:active {
	background-color: var(--grey-opacity);
}

.features-item-materials {
	background-color: var(--special-yellow);
}

.features-item-tools {
	background-color: var(--special-blue);
}

.features-item-technic {
	background-color: var(--special-lilac);
}

.features-item-discounts {
	background-color: var(--special-greenlight);
}

.features-item-delivery {
	background-color: var(--yellow);
}

.features-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.slider {
	grid-column: 1 / 3;
	grid-row: 2 / 4;
	color: var(--white);
}

.slider-text-wrapper {
	background-color: var(--dark-grey);
}

.slider-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.slider-description {
	font-size: 18px;
	line-height: 24px;
}

.slider-btn:hover {
	background-color: var(--dark-red);
}

.slider-btn:active {
	background-color: var(--error);
}

.main-section-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	width: 960px;
	margin: 0 auto 70px;
	padding: 0 10px;
}

.main-section-header {
	background-color: var(--pale-yellow);
	text-transform: uppercase;
}

.main-section-title {
	margin: 0;
	padding: 0;
	color: var(--navy-blue);
	font-size: 30px;
	line-height: 30px;
}

.main-section-list {
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-gap: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.product-title {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

.product-title-link {
	color: var(--black);
}

.product-old-price {
	color: var(--grey);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
}

.product-btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
}

.services {
	background-color: var(--basic-background);
}

.services-description {
	display: grid;
	width: 960px;
	margin: 64px auto 0;
	padding: 0 10px;
}

.services-title {
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-text {
	color: var(--black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
}

.services-block {
	display: grid;
	grid-template-columns: 240px 1fr;
	width: 960px;
	margin: 67px auto;
	padding: 0 10px;
}

.services-list {
	margin: 0 80px 0 0;
	padding: 0;
	list-style-type: none;
}


.service-list-btn {
	color: var(--white);
	background-color: var(--navy-blue);
	font-size: 21px;
	line-height: 30px;
	cursor: pointer;
	border: none;
}

.service-list-btn:hover {
	background-color: var(--dark-blue);
}

.service-list-btn:active {
	color: var(--navy-blue);
	background-color: var(--white);
}

.service-block-title {
	color: var(--navy-blue);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service-block-text {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 960px;
	margin: 0 auto 70px;
	padding: 0 10px;
}

.about-company-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.about-company-title {
	margin: 0;
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company-text {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.about-company-list-item {
	color: var(--black);
	font-size: 18px;
}

.contacts-title {
	margin: 0;
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-text {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.page-footer-top {
	background-color: var(--navy-blue);
}

.footer-top-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.page-footer-logo {
	display: inline-block;
	text-align: center;
	width: 220px;
	height: 68px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo-image {
	margin: 20px 0 0 0;
}

.page-footer-address {
	margin: 22px 0 0 0;
	color: var(--white);
	font-size: 18px;
	font-style: normal;
}

.page-footer-nav {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.page-footer-item {
	font-size: 18px;
}

.page-footer-nav-link {
	color: var(--white);
}

.category {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.page-footer-link {
	color: var(--special-yellowlight);
}

.page-footer-bottom {
	background-color: var(--dark-blue);
}

.footer-bottom-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.page-footer-copyright {
	margin: 0;
	color: var(--white);
	font-size: 16px;
	line-height: 18px;
}

.social-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social-link {
	color: var(--white);
}

.page-footer-feed {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 18px;
}

.page-footer-feed p {
	color: var(--white);
	font-size: 16px;
	line-height: 18px;
}

.page-footer-feed a {
	color: var(--special-yellowlight);
}


/* Каталог */

.catalog-basket {
	background-color: var(--basic-red);
}

.authorization-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.authorization-item a {
	color: var(--navy-blue);
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
}

.authorization-item a:hover {
	color: var(--basic-red);
}

.main-content {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-gap: 20px;
	width: 960px;
	margin: 0 auto 59px;
	padding: 0 10px;
}

.breadcrumbs {
	grid-column: 1 / -1;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.breadcrumbs li {
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs a {
	color: var(--black);
}

.catalog-title {
	grid-column: 1 / -1;
	color: var(--navy-blue);
	background-color: #f2f6f8;
	font-size: 30px;
	font-weight: inherit;
	line-height: 30px;
	text-transform: uppercase;
}

.filter {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.filter-title {
	background-color: var(--light-yellow);
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

.filter-legend {
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
}

.filter-btn {
	color: var(--black);
	background-color: var(--white);
	font-size: 13px;
	line-height: 18px;
	border: 1px solid var(--light-grey);
}

.catalog-list {
	display: grid;
	grid-template-columns: 220px 220px 220px;
	grid-gap: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sorting {
	margin-bottom: 28px;
	background-color: var(--light-yellow);
}

.sorting-title {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

.sorting ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sorting-btn {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
}

.sorting-btn {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dotted var(--basic-red);
	opacity: 0.3;
}

.sorting-btn-arrow {
	background-color: var(--basic-greylight);
	cursor: pointer;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination a {
	color: var(--black);
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	border: 1px solid var(--light-grey);
	border-radius: 2px;
}

.description-product {
	background-color: var(--basic-background);
}

.description-product-container {
	display: grid;
	grid-template-columns: 1fr;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.description-product-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.description-product-text {
	margin: 0 0 68px 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}