:root {
	--basic-red: #ee3643;
	--basic-green: #63a63e;
	--basic-grey: #3d546f;
	--basic-greylight: #c5c5c5;
	--basic-background: #f1f5f7;
	--white: #ffffff;
	--black: #000000;
	--special-yellow: #ffbf47;
	--special-blue: #3bbce3;
	--special-lilac: #dc91d8;
	--special-greenlight: #8ed78f;
	--special-yellowlight: #ffd180;
	--success: #5fbb2d;
	--warning: #ffbf47;
	--error: #ba2732;
	--lightgrey: #eaeaea;
	--background-dark-blue: #293449;
	--main-header: #f3f7f8;
	--background-navy-blue: #32425c;
	--delivery-section: #ffc047;
	--wrapper-slider-text: rgba(0, 0, 0, 0.25);
	--wrapper-title-btn: #f9f5f0;
	--grey: #a9a9a9;
	--grey-opacity: rgba(169, 169, 169, 0.3);
	--white-active: rgba(255, 255, 255, 0.5);
	--white-opacity: rgba(255, 255, 255, 0.3);
	--basic-greylight-opacity: rgba(197, 197, 197, 0.3);
	--dark-red: #ca2c37;

}

.page-body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	color: var(--white);
	font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	line-height: 24px;
}

a {
	text-decoration: none;
}

.page-header {
	background-color: var(--main-header);
}

.header-menu {
	background-color: var(--background-dark-blue);
	font-family: "Cuprum", "Arial", sans-serif;
}

.search {
	background-color: var(--background-dark-blue);
	font-family: "Cuprum", "Arial", sans-serif;
}


.search::placeholder {
	color: var(--white);
	opacity: 1; 
	font-size: 18px; 
	opacity: 1; 
} 

.search:focus {
	background-color: var(--white);
}

.search:focus::placeholder {
	color: var(--black);
}

.bookmarks {
	color: var(--white);
	font-size: 18px;
}

.bookmarks:active {
	color: var(--white-active);
}

.search {
	color: var(--white);
	font-size: 18px;
}

.basket {
	color: var(--white);
	font-size: 18px;
}

.basket:active {
	color: var(--white-active);
}

.order-registration {
	color: var(--white);
	background-color: var(--basic-green);
	font-size: 18px;
}

.order-registration:active {
	color: var(--white-active);
}

.header-description {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}

.phone-number {
	color: var(--basic-red);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.address {
	color: var(--background-navy-blue);
	font-size: 14px;
}

.main-navigation {
	background-color: var(--background-navy-blue);
	box-shadow: inset 0 -5px 0 0 var(--background-dark-blue);
}

.main-navigation-item:hover {
	background-color: var(--background-dark-blue);
}

.main-navigation-link {
	color: var(--white);
	font-size: 18px;
}

.main-navigation-link:active {
	opacity: 0.5;
}

.header-btn {
	color: var(--black);
	font-size: 21px;
	line-height: 21px;
}

.header-btn:hover {
	color: var(--basic-red);
}

.header-btn:active {
	color: var(--basic-greylight);
}

.features {
	color: var(--white);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.feauters-btn {
	color: var(--white);
	background-color: var(--white-opacity);
	mix-blend-mode: normal;
	font-size: 14px;
	line-height: 18px;	
}

.feauters-btn:hover {
	background-color: var(--basic-greylight-opacity);
	mix-blend-mode: normal;
}

.feauters-btn:active {
	background-color: var(--grey-opacity);
	mix-blend-mode: normal;
}

.feauters-item-materials {
	background-color: var(--special-yellow);
}

.feauters-item-tools {
	background-color: var(--special-blue);
}

.feauters-item-technic {
	background-color: var(--special-lilac);
}

.feauters-item-discounts {
	background-color: var(--special-greenlight);
}

.feauters-item-delivery {
	background-color: var(--delivery-section);
}

.feauters-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.slider {
	color: var(--white);
}

.slider-text-wrapper {
	background-color: var(--wrapper-slider-text);
}

.slider-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.slider-description {
	font-size: 18px;
}

.slider-btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.slider-btn:hover {
	background-color: var(--dark-red);
}

.slider-btn:active {
	background-color: var(--error);
}

.popular-product-header {
	background-color: var(--wrapper-title-btn);
	text-transform: uppercase;
}

.popular-product-title {
	color: var(--background-navy-blue);
	font-size: 30px;
	line-height: 30px;
}

.popular-product-btn {
	color: var(--white);
	background-color: var(--basic-red);
	background-color: 
	font-size: 14px;
	line-height: 18px;
}

.popular-brands-header {
	background-color: var(--wrapper-title-btn);
	text-transform: uppercase;
}

.popular-brands-title {
	color: var(--background-navy-blue);
	font-size: 30px;
	line-height: 30px;
}

.popular-brands-btn {
	color: var(--white);
	background-color: var(--basic-red);
	background-color: 
	font-size: 14px;
	line-height: 18px;
}

.product-title-link {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

.product-old-price {
	color: var(--grey);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
}

.product-btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
}

.services-list {
	background-color: var(--basic-background);
}

.services-title {
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-description {
	color: var(--black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
}


.service-list-btn {
	color: var(--white);
	background-color: var(--background-navy-blue);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	box-shadow: 
	0px 1px 0px #293449, 
	inset 0px 1px 0px #405069;
}

.service-list-btn:hover {
	background-color: var(--background-dark-blue);
}

.service-list-btn:active {
	color: var(--background-navy-blue);
	background-color: var(--white);
}

.service-block-title {
	color: var(--background-navy-blue);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service-block-description {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.about-company-title {
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company-description {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.about-company-delivery {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.about-company-list-item {
	color: var(--black);
	font-size: 18px;
}

.about-company-btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.contacts-title {
	color: var(--black);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-address {
	color: var(--black);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
}

.contacts-btn {
	color: var(--white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.footer-address {
	color: var(--white);
	font-size: 18px;
	font-style: normal;
}

.footer-nav-site-link {
	color: var(--white);
	font-size: 18px;
}

.footer-nav-products {
	color: var(--special-yellowlight);
	font-size: 18px;
}

.footer-navigation {
	background-color: var(--background-navy-blue);
}

.footer-social {
	background-color: var(--background-dark-blue);
}
	
.copyright {
	color: var(--white);
	font-size: 16px;
	line-height: 18px;
}

.social-btn {
	color: var(--white); /* На время отсутсвия картинок добавил белый цвет надписям */
}

.feed {
	font-size: 16px;
	line-height: 18px;
}

.feedback {
	color: var(--white);
}

.developed {
	color: var(--white);
}

.feedback-link {
	color: var(--special-yellowlight);
}

.developed-link {
	color: var(--special-yellowlight);
}